#container {
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top:70px;
    border: 2px solid rgba(16, 16, 16, 0.5);
    border-radius: 30px;
    box-shadow: 0 0 50px rgba(7, 5, 18, 0.5);
}

#text {
    font-size: 28px;
    margin-left: -10px;
    text-align: center;
}

#input {
    border: solid rgba(2, 1, 5, 0.5);
    border-radius: 10px;
    height: 40px;
    margin-left: 45px;
    margin-top: 20px;
    font-size: 15px;
}
#button {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left:10px;
    border-radius: 50%;
}

#button:hover {
    background-color: gray;
}
#content {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -40px;
}